<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Schema Journal Playground</title>
  <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
        media="screen">
  <link href="/static/bootstrap/css/bootstrap-responsive.min.css"
        rel="stylesheet" media="screen">
  <link href="/static/main.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Schema Journal</a>

      <div class="nav-collapse collapse">
        <form class="navbar-form pull-right" action="/signout" method="post">
          <button type="submit" class="btn">Sign out</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">

  {% if message %}
  <div class="alert alert-info">{{ message }}</div>
  {% endif %}

  <div class="row">
    <form class="span12" action="/journal" method="post">
      <input type="hidden" name="operation" value="sendPrompt">
      <button class="btn" type="submit">
        Trigger Prompt on Glass
      </button>
    </form>
    <br/><br/>
    {% if journals %}
      <ul>
      {% for journal in journals %}
        <li>{{ journal.created }}:  <strong>{{journal.category}}</strong> - {{journal.emotion}}   <a href="/serve/{{ journal.video_key }}">download</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

<script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
